<?xml version="1.0"?>
<!--
/**
 * ISAAC ISAAC_ProductReports
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category ISAAC
 * @package ISAAC_ProductReports
 * @copyright Copyright (c) 2015 ISAAC Software Solutions B.V. (https://www.isaac.nl)
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @author ISAAC Software Solutions B.V. (https://www.isaac.nl)
 */
-->
<config>
    <modules>
        <ISAAC_ProductReports>
            <version>1.0.0</version>
        </ISAAC_ProductReports>
    </modules>
    <global>
        <models>
            <isaacproductreports>
                <class>ISAAC_ProductReports_Model</class>
                <resourceModel>isaacproductreports_mysql4</resourceModel>
            </isaacproductreports>
            <isaacproductreports_mysql4>
                <class>ISAAC_ProductReports_Model_Mysql4</class>
            </isaacproductreports_mysql4>
        </models>
        <helpers>
            <isaacproductreports>
                <class>ISAAC_ProductReports_Helper</class>
            </isaacproductreports>
        </helpers>
        <blocks>
            <isaacproductreports>
                <class>ISAAC_ProductReports_Block</class>
            </isaacproductreports>
        </blocks>
    </global>
    <admin>
      <routers>
          <adminhtml>
                <args>
                    <modules>
                        <isaacproductreports before="Mage_Adminhtml">ISAAC_ProductReports_Adminhtml</isaacproductreports>
                    </modules>
                </args>
            </adminhtml>
      </routers>
    </admin>
    <websites>
      <isaacproductreports>
          <web>
            <routers>
                <frontend><disabled>true</disabled></frontend>
            </routers>
          </web>
      </isaacproductreports>
    </websites>
    <adminhtml>
      <menu>
          <report>
              <children>
                  <products>
                      <children>
                          <no_category translate="label" module="isaacproductreports">
                              <title>Without category</title>
                              <action>isaacproductreports/adminhtml_report/withoutCategory</action>
                          </no_category>
                          <no_image translate="label" module="isaacproductreports">
                              <title>Without image</title>
                              <action>isaacproductreports/adminhtml_report/withoutImage</action>
                          </no_image>
                      </children>
                  </products>
              </children>
          </report>
      </menu>
      <acl>
          <resources>
              <admin>
                  <children>
                      <report>
                          <children>
                              <products>
                                  <children>
                                      <no_category translate="label" module="isaacproductreports">
                                          <title>Without category</title>
                                          <sort_order>60</sort_order>
                                      </no_category>
                                      <no_image translate="label" module="isaacproductreports">
                                          <title>Without image</title>
                                          <sort_order>60</sort_order>
                                      </no_image>
                                  </children>
                              </products>
                          </children>
                      </report>
                  </children>
              </admin>
          </resources>
      </acl>
      <translate>
          <modules>
            <ISAAC_ProductReports>
                <files>
                    <default>ISAAC_ProductReports.csv</default>
                </files>
            </ISAAC_ProductReports>
          </modules>
      </translate>
    </adminhtml>
</config>
